<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>WGU Grader</title>
        <script src="popup.js"></script>
    </head>
    <body>
    </body>
    <body>
        <div style="min-width: 400px;">
            <h1 style="display: flex; align-items: center;"><span><img src="../images/48x48.png" alt="WGU Logo"></span><span>WGU Grader</span></h1>
            <p style="margin-bottom: 15px;">This browser extension will add a percentage grade to your assessment report, making it easier to know how well you did.</p>
            <p style="margin-bottom: 15px;">
                <a href="#" style="padding: 5px 10px; border-radius: 3px; background-color: #0f2b50; color: #fff; text-decoration: none; text-transform: uppercase;">Learn More</a>
            </p>
            <hr/>
            <p style="color: #777777;"><em>Disclaimer: This extension is not built or maintained by Western Govenors University. Please direct all feedback <a href="#">here</a></em></p>
        </div>
    </body>
</html>
